html, body{
    height:100%;
}

body{
    font: normal 16px/1.6em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container{
    width:100%;
    margin:auto;
    flex:1 0 auto;
}

.daysWeather {
    float: right;
    margin-right: 100px;
    margin-left: 100px;
    background-color: lightskyblue;
    padding: 20px;
}

.weatherOnly {
    font-size: 10px;
    float: left;
}

#banner{
    position:relative;
}

#main-footer{
    color:#5e7c8d;
    font-size:x-small;
    text-align:center;
}

#map-view {
    position: relative;
    width: 90%;
    height: 400px;
}

#search-bar{
    position:absolute;
    top:600px;
    margin:0 75px;
    width:1000px;
}