html, body{
    height:100%;
}

body{
    font:normal 16px/1.6em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display:flex;
    flex-direction:column;
}

.jumbotron{
    text-align:center;
}
.container{
    width:100%;
    margin:auto;
    flex:1 0 auto;
}

#main-footer{
    background-color:#666666;
    color:white;
    font-size:x-small;
    text-align:center;
    padding:15px 0;
    margin-top:20px;
    border-top:5px solid #3686a8;
    flex-shrink:0;
}

#map-view {
    height: 400px;
}
